<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>
        <input type="text" id="pergunta">
        <button onclick="cadastrar()">Cadastrar</button>
    <script>
        function cadastrar(){
            var pergunta = document.getElementById("pergunta").value
            var dadosreq = {"pergunta": pergunta}
            var str_json = JSON.stringify(dadosreq)
            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "http://127.0.0.1:5000/questions/api/cadastrar", false);
            xhttp.setRequestHeader("Content-Type","application/json");
            xhttp.send(str_json)
            window.alert(JSON.parse(xhttp.responseText)['msg'])
            window.location.href = "http://127.0.0.1:5000/questions/home"
        }
    </script>


</body>
</html>