<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>

<body>
    
    <input type="number" id="inputId" >
    <button onclick="consulta()">Buscar</button>
    <table border="solid" id="table">
        <thead>
            <th>ID</th>
            <th>Pergunta</th>
        </thead>
        
    </table>

    <script>
        window.onload = consulta()

        function consulta(){
        var input = document.getElementById("inputId")
        var dadosReq = {"id": input.value}
        var str_json = JSON.stringify(dadosReq)
        const xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://127.0.0.1:5000/questions/api", false);
        xhttp.setRequestHeader("Content-Type","application/json");
        xhttp.send(str_json)
        var json_resp = JSON.parse(xhttp.responseText)
        document.getElementById("table").innerHTML = ""
        json_resp.forEach(element => {
            var tbody = document.createElement("tbody")
            var row = document.createElement("tr")
            var td = document.createElement("td")
            var td2 = document.createElement("td")
            td.innerHTML = `<td>${element['id']}</td>`
            td2.innerHTML = `<td>${element['pergunta']}</td>`
                row.appendChild(td)
                row.appendChild(td2)
                tbody.appendChild(row)
                document.getElementById("table").appendChild(tbody)
                                    });
        }
        
    </script>

</body>
</html>